/* Generic iPad portrait + landscape*/

@media screen and (max-width : 768px)  {
  .card_flipping_game__card_icon {
    position: relative;
    height: 30px;
    top: 50%;
    margin-top: -15px;
  }
}
